body
{
background-image: url(zdj1.jpg) ;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
font-family: Verdana;
font-size: 30px;
color:red;
}
input
{
    background-color: white;
    border-radius: 40px;
    font-size: 13px;
    font-family:verdana;
    padding: 5px 32px;
    display: inline-block;
    border: 3px solid #12234a;
    position: relative;
    top: -100px;
    position: relative;
	right: -600px;
   
}
p
{
font-size: 50px;	
}
h1
{
	color:red;
	letter-spacing: 5px;
	font-family: sans-serif;
    
    text-align: center;
}
